<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="column-md-4">
        <%= image_tag @movie.image.url(:medium) %>
        <h3>Movie Average Rating: </h3>
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em><%= "#{@reviews.length} reviews" %></em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @movie.title %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @movie.description %></td>
              </tr>
              <tr>
                <td><strong>Movie length:</strong></td>
                <td><%= @movie.movie_length %></td>
              </tr>
              <tr>
                <td><strong>Director:</strong></td>
                <td><%= @movie.director %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @movie.rating %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="column-md-7 column-offset-1">
        <h1 class="review_title"><%= @movie.title %></h1>
        <p><%= @movie.description %></p>

        <!-- conditional, that will loop through all reviews if they exist -->
        <% if @reviews.blank? %>
          <h3>There aren't any reviews yet, why not be the first!</h3>
          <%= link_to "Write A Review", new_movie_review_path(@movie), class: "btn btn-info" %>
        <% else %>
        <% @reviews.each do |review| %>
          <div class="reviews">
            <div class="star-rating" data-score = <%= review.rating %> ></div>
            <p><%= review.comment %></p>
            <!--<%= link_to "Write Another Review?", new_movie_review_path(@movie), class: "btn btn-danger" %>-->
          </div>
          <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit Movie?', edit_movie_path(@movie), class: "btn btn-danger" %> |
<%= link_to 'Back to All Movies', movies_path, class: "btn btn-danger" %>

<!-- calls the raty jquery file on the div named star-rating, you can also see the path to the images-->
<script>
$('.star-rating').raty({
  path: '/assets/',
  readOnly: true,
  score: function(){
    return $(this).attr('data-score');
  }
});
</script>
